:root {
  /** Primary Colors: **/
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /** Neutral Colors: **/
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  --background: hsl(0, 0%, 96%);
  --item-shadow: hsla(224, 10%, 45%, 0.3);

  /** Typography: **/
  --h2-font-size: 1.3rem;
  --p-font-size: 0.8rem;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../assets/fonts/BarlowSemiCondensed-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../assets/fonts/BarlowSemiCondensed-SemiBold.ttf');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', 'Segoe UI', Verdana, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
}

img {
  width: 2rem;
  border: 2px solid;
  border-radius: 100%;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 600;
}

p {
  font-size: var(--p-font-size);
  font-weight: 500;
}

.container {
  display: grid;
  margin: 10vh 10vw;
  gap: 2rem;
  grid-auto-rows: minmax(246px, auto);
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.review {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 32px 64px 64px var(--item-shadow);
}
.review .reviewer {
  display: flex;
  gap: 1rem;
}
.review .content {
  line-height: 150%;
}
.review .reviewer .info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.info .name {
  font-size: 0.9rem;
}
.info .status {
  font-size: 0.75rem;
}

.review-1 {
  background-color: var(--purple-500);
  color: var(--white);
}
.review-1 .content {
  color: var(--purple-50);
}
.review-1 img {
  border-color: var(--purple-300);
}

.review-2 {
  background-color: var(--grey-500);
  color: var(--white);
}
.review-2 .content {
  color: var(--grey-100);
}

.review-3, .review-5 {
  background-color: var(--white);
  color: var(--grey-500);
}
.review-3 .content, .review-5 .content {
  color: var(--grey-400);
}
.review-2 img, .review-3 img, .review-5 img {
  border: none;
}

.review-4 {
  background-color: var(--dark-blue);
  color: var(--grey-200);
}
.review-4 img {
  border-color: var(--purple-500);
}

/* TABLET & DESKTOP: */
@media screen and (min-width: 768px) {
  .review-1, .review-4 {
    grid-column: span 2;
  }

  .review-3 {
    grid-row: span 2;
  }
}

/* DESKTOP: */
@media screen and (min-width: 1440px) {
  .container {
    margin: 0;
    max-width: 1152px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}